.card2 {
    background: #0D1A20;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 75%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    margin: auto;
}

.chat-app2 .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.headingModsLand h3 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.headingModsLand h6 {
    text-align: center;

}

.linkMod {
    color: #0ab475;
}