/*Adding Button*/
.laddBtn button {
    padding: 0.5rem;
    background-color: #143840;
    border: none;
    transition: 0.2s;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    color: aliceblue;
    width: 200px;
    height: 50px;
}

.laddBtn button:hover {
    background: #206a7a;
    transform: scale(1.01);

}

/*Modify Button*/

.lModBtn button {
    padding: 0.5rem;
    background-color: #A6695B;
    border: none;
    transition: 0.2s;
    margin-bottom: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    color: aliceblue;
    width: 200px;
    height: 50px;
}

.lModBtn button:hover {
    background: #c97e6d;
    transform: scale(1.01);

}

.laddBtn,
.lModBtn {
    display: inline-block;
}

/*report Button*/

.lReportBtn button {
    padding: 0.5rem;
    background-color: #D9B2A9;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 420px;
    height: 50px;
}

.lReportBtn button:hover {
    background: #eecbc3;
    transform: scale(1.01);

}

.headingModsLand h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.headingModsLand h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.headingModsLand h3 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.headingModsLand h5 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: red;

}

/* .headingModsLand h1:before {
    width: 100px;
    height: 10px;
    display: block;
    content: "";
    position: relative;
    bottom: -79.7px;
    left: 50%;
    margin-left: -50px;
    background-color: #BF793B;
}

.headingModsLand h1:after {
    width: 350px;
    height: 3px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -175px;
    background-color: #BF793B;
} */